{% extends "teams_header.html" %}
{% set active_page_team = "roster" %}
{% block content %}

{%if no_data %}
    <h3>Site under construction</h3>
{% else %}
    <form action="{{ url_for('teams.roster', the_team = team) }}" method="POST" class="form-inline">
    <b>Season:</b>
    <select name="year" width="300px" onchange="this.form.submit()">
    {% for yr in years %}
        {% if yr == the_year %}
            <option selected value="{{ yr }}">{{ yr }}-{{ yr + 1 }}</option>
        {% else %}
            <option value="{{ yr }}">{{ yr }}-{{ yr + 1 }}</option>
        {% endif %}
    {% endfor %}
    </select>
    </form>

    <table>
        <thead>
        {% for hdr in hdrs %}
          <th>{{ hdr }}</th>
        {% endfor %}
        </thead>
        <tbody>
        {% for d in data %}
        <tr>
            {% for key in key_list %}
                {% if key == "height" %}
                    <td>{{ d.height_string() }}</td>
                {% else %}
                    <td>{{ d[key] }}</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
<script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $("table").tablecloth({
          theme: "stats",
          striped: true,
          sortable: true,
          condensed: true,
          clean: true
        });
      });
    </script>
{% endblock %}